{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" href="{% static 'c.css' %}">
</head>

<body>
<header class="wrapper">
    <h1><a href="{% url 'home' %}"><img src="{% static 'Blog1.gif' %} " width="200px" height="100px" alt="blog logo"></a></h1>
 <nav>
     <ul>
         {% if user.is_authenticated %}
         <li>
             <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                 {% csrf_token %}
                 <button type="submit">Logout</button>
             </form>
         </li>
         <li>
             <a href="{% url 'articles:create' %}" class="highlight"> Create new article </a>
         </li>
         {% else  %}
         <li>
             <a href="{% url 'accounts:login' %}"> Login 👇</a>
         </li>
         <li>
             <a href="{% url 'accounts:signup' %}"> Sign up 🆙 </a>
         </li>
         {% endif %}
     </ul>
 </nav>
</header>
  <div class="wrapper">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>